- page_title      'Quest'
- header_title    'Quest', quests_path



/ = link_to 'New Quest', new_quest_path
%table.table.table-striped
  %tr
    %th
      %strong Nome
    %th
      %strong Nível
    %th
      %strong Score
    %th
    - @quests.each do |quest|
      %tr
        - if quest.id <= current_user.nivel
          %td
            =link_to quest.nome_quest, description_path(quest.id), :class => "btn btn-danger" 
            %span.label.label-success Quest Liberada
        - else 
          %td 
            = link_to quest.nome_quest, description_path(quest.id), :class => "btn btn-danger"   
            %span.label.label-danger Quest Bloqueada
        %td= quest.nome_nivel
        %td= quest.valor_pontos