- header_title    'Descrição das Tarefas'
//        / = link_to activity_path(quests_activity.id) do

:css
  .btn-success{
    width:100%;
    text-align:left;
    / border-bottom:2px solid red !important;
  }
  .btn-danger{
    text-align:center;
    / border-bottom:2px solid red !important;
  }  
  .button.btn.btn-danger{
    type: "button";
  }
%body
  .container
    %h3 Tarefas
    %ul.nav.nav-pills.nav-stacked
      %li.active
      - @quests_activities.each do |quests_activity|
        - teste = 'Tarefa '
        - teste = teste  + quests_activity.id.to_s
        %li
          %a{"data-toggle" => "tab", class: ("active" unless params[:scope])} 
            = link_to teste, activity_path(quests_activity.id), :class => "btn btn-success" 
        -if @current_quest == quests_activity.id.to_s
          %table.table.table-striped
            %tr
              %th
                %strong Pontuação      
              %th
                %strong Descrição
              %th
              - @activities.each do |actv|
                %tr
                  %td= actv.qtd_pontos
                  %td= actv.descricao_tarefa  