- header_title    'Tarefas'
:css
  .btn-success{
    width:100%;
    text-align:left;
    / border-bottom:2px solid red !important;
  }

%body
  .container
    %h3 Tarefas
    %ul.nav.nav-pills.nav-stacked
      %li.active
      - @quests_activities.each do |quests_activity|
        - teste = 'Tarefa '
        - teste = teste  + quests_activity.id.to_s
        %li
          %a{"data-toggle" => "tab", class: ("active" unless params[:scope])} 
            = link_to teste, activity_path(quests_activity.id), :class => "btn btn-success" 


/ %table.table.table-striped
/   %tr
/     %th
/       %strong Tarefa
/     %th
/       %strong Pontuação      
/     %th
/       %strong Descrição
/     %th

/     - @quests_activities.each do |quests_activity|
/       %tr
/         %td= quests_activity.id
/         %td= quests_activity.qtd_pontos
/         %td= quests_activity.descricao_tarefa