- header_title    'Descrição das Atividades'

%head
  %title Bootstrap Case
  %meta{:charset => "utf-8"}/
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", :rel => "stylesheet"}/
  %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"}
  %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"}
%body
  .container
    %h3 Tarefas
    %ul.nav.nav-pills.nav-stacked
      %li.active
      - @quests_activities.each do |quests_activity|
        %li
          %a{"data-toggle" => "tab", class: ("active" unless params[:scope])} 
            = link_to description_path(quests_activity.id) do
              Tarefa
              %td= quests_activity.id
        -if @id_current == quests_activity.id.to_s
          %table.table.table-striped
            %tr
              %th
                %strong Pontuação      
              %th
                %strong Descrição
              %th
              - @activities.each do |actv|
                %tr
                  %td= actv.qtd_pontos
                  %td= actv.descricao_tarefa
          
  
      / - @quests_activities.each do |quests_activity|
      /   -if quests_activity.id != 1
      /     %li{ class: ("active" unless params[:scope]) }
      /       = link_to dashboard_snippets_path do
      /         Tarefa
      /         %td= quests_activity.id
  

/ %table.table.table-striped
/   %tr
/     %th
/       %strong Tarefa
/     %th
/       %strong Pontuação      
/     %th
/       %strong Descrição
/     %th

/     - @quests_activities.each do |quests_activity|
/       %tr
/         %td= quests_activity.id
/         %td= quests_activity.qtd_pontos
/         %td= quests_activity.descricao_tarefa